:root{
    --bg-color: #001526ff; 
    --bg-color-dark: #00111fff;
    --bg-color-hover: #000d16ff; 
}
body{
    height: 100vh; width: 100vw;  
    box-sizing: border-box; 
    background-color: var(--bg-color); 
    font-family: "Raleway", sans-serif; 
}
.master-container{
    max-width: 1000px; 
    width: 1000px; 
    height: 100vh; 
    margin: 0 auto; 
    
    
}
.hero-section{
    background-color: var(--bg-color-dark);
    margin: 0 auto; 
    padding: 10% 25%; 
    border-radius: 50px; 
}

.logo{ 
    padding: 30px 45%;   
}

.subject{
    background-color: var(--bg-color-dark); 
    height: 100px; width: 190px; 
    border-radius: 15px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 5px ; 
}
.subject:hover{
    background-color: var(--bg-color-hover); 
    color: white; 
    cursor: pointer; 
    
}
.content-container{
    padding: 5px ;   
    width:100%; 
    display: flex; 
    flex-wrap: wrap  
}
h1{
font-size: 20px; 
}
hr{
    width: 100px; 
    margin: 20px auto;
    border-color: var(--bg-color-dark); 
}

